

= form_for @stack do |f|
  - if @stack.errors.any?
    #error_explanation
      %h2= "#{pluralize(@stack.errors.count, "error")} prohibited this stack from being saved:"
      %ul
        - @stack.errors.full_messages.each do |message|
          %li= message
  .row
    .col-md-6
      .form-group
        = f.label :number
        = f.number_field :number
      .form-group
        = f.label :places
        = f.number_field :places
      .form-group
        = f.label :width
        = f.text_field :width
      .form-group
        = f.label :height
        = f.text_field :height
      .form-group
        = f.label :depth
        = f.text_field :depth
      .form-group
        = f.label :max_total_load
        = f.number_field :max_total_load
  %h3= "Выберите помещение из базы данных"
  .row
    .col-md-6
      .form-group
        = f.label :room_id
        = f.select :room_id, Room.all.collect{|x| [x.name, x.id]}, {:prompt => ""}
  %h3= "Или создайте новое помещение"
  = f.fields_for(:room) do |pf|
    .form-group
      = pf.label :name
      = pf.text_field :name
    .form-group
      = pf.label :volume
      = pf.number_field :volume
    .field
      = pf.hidden_field :id
      - if check_sudo
        .form-actions
          = f.submit 'Save', class: 'btn btn-primary'
      - else
        %h2= "Создавать или изменять записи в базе данных имеет право только администратор"
%br