= form_for @stack do |f|
  - if @stack.errors.any?
    #error_explanation
      - if @stack.errors.count > 1
        %h2= "Допущено #{pluralize(@stack.errors.count, "")} ошибок. Не удается сохранить объект:"
      - else
        %h2= "Допущена #{pluralize(@stack.errors.count, "")} ошибка. Не удается сохранить объект:"
      %ul
        - @stack.errors.full_messages.each do |message|
          %li= message
  .row
    .col-md-6
      .form-group
        = f.label :number
        = f.number_field :number
      .form-group
        = f.label :places
        = f.number_field :places
      .form-group
        = f.label :width
        = f.text_field :width
      .form-group
        = f.label :height
        = f.text_field :height
      .form-group
        = f.label :depth
        = f.text_field :depth
      .form-group
        = f.label :max_total_load
        = f.number_field :max_total_load
  %h3= "Выберите или создайте новое помещение"
  .row
    .col-md-6
      .form-group
        = f.label :room_id, 'Помещение'
        = f.select :room_id, options_for_select(Room.all.map{|x| [x.name, x.id]} + (@stack.new_record? ? ["- Создание нового -"] : ["- Создание нового -", "- Редактирование -"]), f.object.room_id.nil? ? "- Создание нового -" : f.object.room_id), {include_blank: true}
  = f.fields_for :room, f.object.room || f.object.build_room do |pf|
    %fieldset#room-fieldset{"data-content" => "#{render "room_form", pf: pf}"}
      %div#room-fields
  - if check_sudo
    %br
    .form-actions
      = f.submit 'Сохранить', class: 'btn btn-success', id: 'save'
  - else
    %br
    %h2= "Создавать или изменять записи в базе данных имеет право только администратор"
%br