=breadcrumb_tag do
  %li.active
    = t('headers.stacks.edit')
  %li
    = link_to 'Список стеллажей', stacks_path
  %li
    Изменение стеллажа

.page-header
  %h2 Редактирование стеллажа

= render 'form'

= link_to 'Показать', @stack, class: 'btn btn-warning'
\|
= link_to 'Назад', stacks_path, class: 'btn btn-primary'
