=breadcrumb_tag do
  %li.active
    = t('headers.stacks.edit')
  %li
    = link_to 'Список стеллажей', stacks_path
  %li
    Изменение стеллажа
%br

= render 'form'

= link_to 'Show', @stack
\|
= link_to 'Back', stacks_path
