=breadcrumb_tag do
  %li.active
    = t('headers.stacks.index')
  %li
    Список стеллажей
%br

= link_to new_stack_path, class: 'btn btn-primary' do
  = fa_icon :plus
  = t('buttons.new.stack')


%br 
%br
.table-responsive
  %table.table.table-hover.table-striped.center.my-table
    %thead
      %tr
        %th Номер
        %th Количество мест
        %th Ширина
        %th Высота
        %th Глубина
        %th Максимальная сумм. нагрузка
        %th Помещение
        %th
        - if check_sudo
          %th
          %th

    %tbody
      - @stacks.each do |stack|
        %tr
          %td{"data-label" => "Номер"}
            %span= stack.number
          %td{"data-label" => "Кол-во мест"}
            %span= stack.places
          %td{"data-label" => "Ширина"} 
            %span= stack.width
          %td{"data-label" => "Высота"}
            %span= stack.height
          %td{"data-label" => "Глубина"}
            %span= stack.depth
          %td{"data-label" => "Макс. сумм. нагрузка"}
            %span= stack.max_total_load
          %td{"data-label" => "Помещение"}
            %span= stack.room.name
          %td.td-hide
            = link_to stack, class: 'btn btn-success' do
              = fa_icon :eye
              = t('buttons.show')
          - if check_sudo
            %td.td-hide
              = link_to edit_stack_path(stack), class: 'btn btn-primary' do
                = fa_icon :edit
                = t('buttons.edit')
            %td.td-hide
              = link_to stack, method: :delete, data: { confirm: 'После удаления стеллажа, все товары на нем будут также удалены. Хотите продолжить?' }, class: 'btn btn-danger' do
                = fa_icon :remove
                = t('buttons.destroy')
                
%br


