=breadcrumb_tag do
  %li.active
    = t('headers.stacks.show')
  %li
    = link_to 'Список стеллажей', stacks_path
  %li
    Просмотр cтеллажа

.page-header
  %h2 Просмотр стеллажа


%p#notice= notice

%p
  %b Номер:
  = @stack.number
%p
  %b Количество мест:
  = @stack.places
%p
  %b Ширина:
  = @stack.width
%p
  %b Высота:
  = @stack.height
%p
  %b Глубина:
  = @stack.depth
%p
  %b Максимальная суммарная нагрузка:
  = @stack.max_total_load
%p
  %b Помещение:
  = @stack.room.name

= link_to 'Редактировать', edit_stack_path(@stack), class: 'btn btn-success'
\|
= link_to 'Назад', stacks_path, class: 'btn btn-primary'
