= form_for @client do |f|
  - if @client.errors.any?
    #error_explanation
      %h2= "#{pluralize(@client.errors.count, "error")} prohibited this client from being saved:"
      %ul
        - @client.errors.full_messages.each do |message|
          %li= message

  .form-group
    = f.label :entity_name
    = f.text_field :entity_name
  .form-group
    = f.label :bank_details
    = f.text_area :bank_details
  .actions
    = f.submit 'Save', class: 'btn btn-primary'
%br
