%h1 Список клиентов

%table.table.table-bordered
  %thead
    %tr
      %th Название организации
      %th Банковские реквизиты
      %th
      %th
      %th

  %tbody
    - @clients.each do |client|
      %tr
        %td= client.entity_name
        %td= client.bank_details
        %td= link_to 'Показать', client
        %td= link_to 'Редактировать', edit_client_path(client)
        %td= link_to 'Удалить', client, method: :delete, data: { confirm: 'Вы уверены в этом? Связанные с клиентом товары также удалятся.' }

%br

= link_to 'Новый клиент', new_client_path
