%h1 Listing rooms

%table.table.table-bordered
  %thead
    %tr
      %th Название
      %th Полезный объем
      %th
      %th
      %th

  %tbody
    - @rooms.each do |room|
      %tr
        %td= room.name
        %td= room.volume
        %td= link_to 'Показать', room
        %td= link_to 'Редактировать', edit_room_path(room)
        %td= link_to 'Удалить', room, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'Новая комната', new_room_path
