= form_for @item do |f|
  - if @item.errors.any?
    #error_explanation
      %h2= "#{pluralize(@item.errors.count, "error")} prohibited this item from being saved:"
      %ul
        - @item.errors.full_messages.each do |message|
          %li= message

  .form-group
    = f.label :width
    = f.text_field :width
  .form-group
    = f.label :height
    = f.text_field :height
  .form-group
    = f.label :depth
    = f.text_field :depth
  .form-group
    = f.label :weight
    = f.text_field :weight
  .form-group
    = f.label :receipt_date
    = f.date_select :receipt_date
  .form-group
    = f.label :contract_number
    = f.number_field :contract_number
  .form-group
    = f.label :place
    = f.number_field :place
  .form-group
    = f.label :contract_expiry_date
    = f.date_select :contract_expiry_date
  .form-group
    = f.label :client
    = f.text_field :client
  .form-group
    = f.label :stack
    = f.text_field :stack
  .actions
    = f.submit 'Save', class: 'btn btn-primary'
%br
