= form_for @item do |f|
  - if @item.errors.any?
    #error_explanation
      %h2= "#{pluralize(@item.errors.count, "error")} prohibited this item from being saved:"
      %ul
        - @item.errors.full_messages.each do |message|
          %li= message
  .row
    .col-md-6
      .form-group
        = f.label :width
        = f.text_field :width
      .form-group
        = f.label :height
        = f.text_field :height
      .form-group
        = f.label :depth
        = f.text_field :depth
      .form-group
        = f.label :weight
        = f.text_field :weight
      .form-group
        = f.label :receipt_date
        .input-group.date.datepicker
          = f.text_field(:receipt_date, value: lnil(f.object.receipt_date), class: 'form-control')
          %span.input-group-addon
            %span.glyphicon.glyphicon-calendar
      .form-group
        = f.label :contract_number
        = f.number_field :contract_number
      .form-group
        = f.label :place
        = f.number_field :place
      .form-group
        = f.label :contract_expiry_date
        .input-group.date.datepicker
          = f.text_field(:contract_expiry_date, value: lnil(f.object.contract_expiry_date), class: 'form-control')
          %span.input-group-addon
            %span.glyphicon.glyphicon-calendar
      .form-group
        = f.label :stack_id, "Выбор стеллажа из базы данных"
        = f.select :stack_id, Stack.all.collect{|s| [s.number, s.id]}, {:prompt => ""}  
  %h3= "Выберите клиента из базы данных"
  .row
    .col-md-6
      .form-group
        = f.label :client_id
        = f.select :client_id, Client.all.collect{|x| [x.entity_name, x.id]}, {:prompt => ""}
  %h3= "Или добавьте нового клиента"
  = f.fields_for(:client) do |pf|
    .form-group
      = pf.label :entity_name
      = pf.text_field :entity_name
    .form-group
      = pf.label :bank_details
      = pf.text_area :bank_details
    .field
      = pf.hidden_field :id

  - if check_sudo
    .form-actions
      = f.submit 'Save', class: 'btn btn-primary'
  - else
    %br
    %h2= "Создавать или изменять записи в базе данных имеет право только администратор"
%br
