=breadcrumb_tag do
  %li.active
    = t('headers.items.edit')
  %li
    = link_to 'Список товаров', items_path
  %li
    Изменение товара
 
.page-header
  %h1 Редактирование товара

= render 'form'

= link_to 'Показать', @item, class: 'btn btn-warning'
\|
= link_to 'Назад', items_path, class: 'btn btn-primary'
