=breadcrumb_tag do
  %li.active
    = t('headers.items.edit')
  %li
    = link_to 'Список товаров', items_path
  %li
    Изменение товара
 
.page-header
  %h1= t('headers.items.edit')

= render 'form'

= link_to 'Show', @item
\|
= link_to 'Back', items_path
