=breadcrumb_tag do
  %li.active
    = t('headers.items.show')
  %li
    = link_to 'Список товаров', items_path
  %li
    Просмотр товара
%br

%p#notice= notice

%p
  %b Ширина:
  = @item.width
%p
  %b Высота:
  = @item.height
%p
  %b Глубина:
  = @item.depth
%p
  %b Вес:
  = @item.weight
%p
  %b Дата поставки:
  = @item.receipt_date
%p
  %b Номер договора:
  = @item.contract_number
%p
  %b Место на стеллаже:
  = @item.place
%p
  %b Время окончания договора:
  = @item.contract_expiry_date
%p
  %b Клиент:
  = @item.client.entity_name
%p
  %b Стеллаж:
  = @item.stack.number

= link_to 'Редактировать', edit_item_path(@item), class: 'btn btn-success'
\|
= link_to 'Назад', items_path, class: 'btn btn-primary'  
